select.minimal {
  -webkit-padding-start: 7px;
  -moz-padding-start: 7px;
  padding: 7px;
}

.wrapper {
  display: flex;
  align-items: end;
  gap: 35px;

}

.grid {
  margin-top: 21px;
  height: calc(100vh - 120px);
  width: 100%;
  overflow-x: auto;
}
